/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 22px;
  color: #2b2b2b;
}

.container {
  max-width: 1356px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */

.header-banner {
  background: #000 url(../images/banner.png) no-repeat center center / cover;
  height: 497px;
  padding-top: 30px;
}

.header-banner .header-secondary-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.header-banner .header-contact {
  color: #fff;
}

.header-banner .header-contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.header-banner .header-controls {
  display: flex;
  font-size: 24px;
  width: 34%;
  gap: 36px;
}

.header-banner .header-controls ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-banner .header-controls form {
  align-items: center;
  position: relative;
}

.header-banner .header-controls input {
  height: 38px;
  border: 2px solid #cccccc;
  padding-left: 40px;
}

.header-banner .header-controls .search {
  position: absolute;
  border: none;
  background: none;
  left: 4px;
  top: 8px;
  font-size: 24px;
}

button {
  cursor: pointer;
}

.content {
  text-align: center;
}

.content .header-primary {
  background: #2b2b2b;
  margin-bottom: 20px;
  top: 0;
  z-index: 1;
}

.content .header-primary .header-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  color: #e8e8e8;
  font-size: 20px;
  text-transform: uppercase;
}

.content .catalog-preview {
  position: relative;
  margin-bottom: 100px;
  padding-top: 20px;
  border-top: 2px solid #cccccc;
}

.content .catalog-preview > header {
  margin-bottom: 24px;
}

.content .catalog-preview > header > h1 {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
}

.content .catalog-preview .product-tiles {
  display: flex;
  gap: 1.769911504424779%;
  margin-bottom: 66px;
}

.product-tile {
  position: relative;
}

.content .home-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 134px;
}

.content .home-content .home-content-copy {
  width: 41.44542772861357%;
}

.content .home-content .home-content-copy h1 {
  font-size: 44px;
  letter-spacing: 0.66px;
  font-weight: 700;
  margin-bottom: 40px;
}

.content .home-content .home-content-copy p:nth-of-type(1) {
  margin-bottom: 68px;
}

.content .home-content .home-content-copy p {
  font-size: 22px;
  letter-spacing: 0.33px;
  line-height: 43px;
  text-align: justify;
}

.chevron-right {
  right: -40px;
}

.chevron {
  position: absolute;
  font-size: 18px;
  border: none;
  background: none;
  top: 38%;
}

.catalog-preview .view-products {
  display: inline-block;
  width: fit-content;
  padding: 14px 16px;
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
  font-size: 22px;
  letter-spacing: 0.88px;
  margin: 0 auto;
  background: none;
}

.chevron-left {
  left: -40px;
}

.product-tile > header {
  margin-bottom: 10px;
}

.product-tile .product-tile-controls input[type='checkbox'] {
  display: none;
}

.product-tile .product-tile-controls label.heart {
  position: absolute;
  cursor: pointer;
  top: 6%;
  right: 14%;
  z-index: 1;
}

.product-tile .product-tile-controls .heart i.content-heart {
  color: inherit;
  font-size: 24px;
  position: absolute;
  z-index: 1;
}

.product-tile .product-tile-controls .heart i.fa-solid.fa-heart {
  position: absolute;
  font-size: 24px;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 1;
  color: inherit;
}

.product-tile picture {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.product-tile picture a {
  display: block;
}

.product-tile .product-price {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.product-tile {
  position: relative;
}

.banner-footer {
  background-color: #e8e8e8;
  color: inherit;
  letter-spacing: 0.34px;
  padding: 42px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container .footer-nav {
  width: 65.143067%;
  display: flex;
  margin-bottom: 10px;
  gap: 19.698187%;
}

.footer-container .footer-nav li {
  margin-bottom: 10px;
}

.footer-container .footer-controls {
  width: 19.62315634218289%;
}

.footer-container .footer-controls .footer-subscribe {
  margin-bottom: 24px;
}

.footer-container .footer-controls .footer-subscribe form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-container .footer-controls .footer-subscribe label {
  cursor: pointer;
}

.footer-container .footer-controls .footer-subscribe input {
  padding-left: 10px;
  border: 2px solid #cccccc;
  height: 30px;
}

.footer-container .footer-controls .footer-subscribe .subscribe {
  width: 76px;
  height: 26px;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-container .footer-controls .footer-social-media ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
